:root {
  --branding-color: #272142;
  --color-theme: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "playfair Display", seriff;
  --default-font-family: "poppins", sans seriff;
}

body {
  background: white;
  font-family: var(--default-font-family);
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--color-theme);
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 120px 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.hero h2 {
  font-weight: normal;
  color: black;
  line-height: 1.4;
  font-size: 24px;
  padding-bottom: 40px;
}
.hero p {
  color: var(--branding-color);
  font-weight: bold;
  margin: 0;
  font-size: 36px;
}
.content-container {
  padding: 80px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  text-align: center;
  font-family: var(--heading-font-family);
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}
.content p {
  margin: 0;
  font-size: 14px;
}

.btn-color {
  background: var(--color-theme);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-color-outline {
  color: var(--color-theme);
  border: 1px solid var(--color-theme);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.custom-btn {
  margin-left: 110px;
}

.project-description {
  padding: 120px 60px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--color-theme);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--color-theme);
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 18px;
  padding: 10px 15px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
@media (max-width: 900px) {
  nav a {
    font-size: 12px;
  }
  body.about-page {
    font-size: 14px;
  }
  .hide {
    display: none;
  }
  .email-link {
    font-size: 14px;
  }

  footer.container {
    display: hidden;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 26px;
  }
  .hero {
    padding: 80px 20px;
  }

  .row {
    justify-content: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .content-container a {
    margin-bottom: 35px;
  }
  .custom-btn {
    margin-left: 1px;
  }
}
